<div class="new_profile">
  <h3>Create new profile </h3>
<%= bootstrap_form_tag url: '/profiles' do |f| %>
  <div class="field">
    <%= f.text_field :first_name %>
    <%= f.email_field :email %>
    <%= f.text_field :gender %>
  </div>

    <div id="">
      <%= f.text_area :body %>
        </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
</div>

</div>
