<!DOCTYPE html>
<html>
<head>
  <title>readyplaytwodating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
welcome page



<div id="hralign">
  <hr >
</div>

  <div class=" colum-md-6 bottomdiv">

    <%= image_tag 'keyboardlove.jpg', width:'100%', height: '200px' %>
  </div>



<%= yield %>

</body>
</html>
