

<div class="row">

  <%= bootstrap_form_for(@user) do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.submit "Log In" %>

  <% end %>
</div>
